.button {
    width: 215px;
    height: 34px;
    border-radius: 5px;
    box-shadow: $borderPropertiesBlack;

    &:hover {
        cursor: pointer;
    }
}

@media (orientation: landscape) {
    .button {
        width: 416px;
        height: 71px;
    }
}