@import "logo";

.header {
    margin-bottom: 23px;

    &__welcome-back {
        font-size: 36px;
        color: $fontColorMain;
        text-align: center;
        line-height: 45px;
    }
}

@media (orientation: landscape) {
    .header {
        margin-bottom: 8px;

        &__welcome-back {
            font-size: 64px;
            line-height: 79px;
        }
    }
}