.main-interface {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__button-log-in-with-google {
        background: $bgcColor;
        border: $borderPropertiesWhite;

        &:hover {
            cursor: pointer;
        }

        &__text {
            color: $fontColorMain;
            @include fontSizeAndLineHeight;
        }
    }

    &__option {
        color: $fontColor;
        font-size: 8px;
        text-transform: uppercase;
    }

    &__container {
        display: flex;
        align-items: center;
        margin-top: 11px;
    }

    &__email-label {
        margin-top: 8px;
        margin-bottom: 3px;
    }

    &__password-label {
        margin-top: 2px;
        margin-bottom: 4px;
    }

    &__email-input,
    &__password-input {
        background: $bgcColor;
        border: $borderPropertiesWhite;
        border-radius: 5px;
        width: 215px;
        height: 34px;
        padding-left: 10px;
    }

    &__box {
        display: flex;
        justify-content: flex-end;
    }

    &__checkbox {
        border: $borderPropertiesWhite;
        border-radius: 4px;
        margin-right: 3px;
        margin-bottom: 4px;
        margin-top: 14px;

        &:hover {
            cursor: pointer;
        }
    }

    &__keep-logged-in {
        font-size: 7px;
        line-height: 9px;
        color: $fontColor;
        width: 110px;
        margin-bottom: 7px;
        margin-top: 15px;
    }

    &__forgot-password {
        text-decoration: none;
        font-size: 8px;
        line-height: 10px;
        margin-bottom: 1px;
        margin-top: 14px;

        &__text {
            color: $fontHighlighted;
        }
    }

    &__button-log-in {
        background: $greenGradient;
        border: none;
        margin-bottom: 15px;

        &__text {
            @include fontSizeAndLineHeight;
            color: $bgcColor;
        }
    }

    &__sign-up {
        font-size: 8px;
        line-height: 10px;
        color: $fontColor;

        &__highlighted {
            color: $fontHighlighted;
            text-decoration: none;
        }
    }
}

.label {
    display: block;
    width: 100%;
    @include fontSizeAndLineHeight;
}

.vector {
    border: 1px solid $vectorColor;
    height: 0px;
    width: 65px;

    &--left {
        margin-right: 2px;
    }

    &--right {
        margin-left: 2px;
    }

    &--long {
        width: 214px;
        margin-bottom: 7px;
    }
}

@media (orientation: landscape) {

    .main-interface {
        &__button-log-in-with-google {

            &__text {
                font-size: 24px;
                line-height: 30px;
            }
        }

        &__option {
            font-size: $fontSize;
        }

        &__container {
            margin-top: 25px;
        }

        &__email-label {
            margin-top: 10px;
        }

        &__password-label {
            margin-top: 11px;
        }

        &__email-input,
        &__password-input {
            width: 416px;
            height: 71px;
            padding-left: 20px;
        }

        // &__email-input[placeholder],
        // &__password-input[placeholder] {}

        // &__email-input[placeholder]:focus,
        // &__password-input[placeholder]:focus {}

        &__checkbox {
            width: 18px;
            height: 19px;
            margin-bottom: 13px;
            margin-top: 18px;
            margin-right: 2px;
        }

        &__keep-logged-in {
            width: 236px;
            height: 17px;
            @include fontSizeAndLineHeight;
            margin-bottom: 14px;
            margin-top: 19px;
            margin-right: 6px;
        }

        &__forgot-password {
            text-decoration: none;
            @include fontSizeAndLineHeight;
            margin-top: 18px;
        }

        &__button-log-in {
            margin-bottom: 18px;

            &__text {
                font-size: 24px;
                line-height: 30px;
                color: #FFF;
            }
        }

        &__sign-up {
            @include fontSizeAndLineHeight;
            color: $fontColor;

            &__highlighted {
                color: #EC6969;
                text-decoration: none;
            }
        }
    }

    .label {
        font-size: 24px;
    }

    .vector {
        width: 127px;

        &--left {
            margin-right: 6px;
        }

        &--right {
            margin-left: 6px;
        }

        &--long {
            width: 410px;
            margin-bottom: 17px;
        }
    }
}