.main-interface {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__button-log-in-with-google {
        // display: inline-block;
        background: $bgcColor;
        border: $borderProperties;
        // margin: 0 35px 0 45px;


        &__text {
            color: #4D4D4D;
            font-size: 14px;
            line-height: 17px;
        }
    }

    &__option {
        color: $fontColor;
        font-size: 8px;
        text-transform: uppercase;
    }

    &__container {
        display: flex;
        align-items: center;
        margin-top: 11px;
    }

    &__email-label {
        margin-top: 8px;
        margin-bottom: 3px;
    }

    &__password-label {
        margin-top: 2px;
        margin-bottom: 4px;
    }

    &__email-input,
    &__password-input {
        background: $bgcColor;
        border: $borderProperties;
        border-radius: 5px;
        width: 215px;
        height: 34px;
        padding-left: 10px;
    }

    &__helper {
        display: flex;
        justify-content: flex-end;
        // margin-top: 14px;
    }

    &__checkbox {
        border: $borderProperties;
        border-radius: 4px;
        margin-right: 3px;
        margin-bottom: 4px;
        margin-top: 14px;
    }

    &__keep-logged-in {
        font-size: 7px;
        line-height: 9px;
        color: $fontColor;
        width: 110px;
        margin-bottom: 7px;
        margin-top: 15px;
    }

    &__forgot-password {
        text-decoration: none;
        font-size: 8px;
        line-height: 10px;
        margin-bottom: 1px;
        margin-top: 14px;

        &__text {
            color: #EC6969;
        }
    }

    &__button-log-in {
        background: linear-gradient(180deg, #029348 0%, #017439 100%);
        border: none;
        margin-bottom: 15px;

        &__text {
            font-size: 14px;
            line-height: 17px;
            color: #FFF;
        }
    }

    &__sign-up {
        font-size: 8px;
        line-height: 10px;
        color: $fontColor;

        &__highlighted {
            color: red;
            text-decoration: none;
        }
    }
}

.label {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
}

.vector {
    border: 1px solid #E1E1E1;
    height: 0px;
    width: 65px;

    &--left {
        margin-right: 2px;
    }

    &--right {
        margin-left: 2px;
    }

    &--long {
        width: 214px;
        margin-bottom: 7px;
    }
}