@media (orientation: landscape) {
    .wrapper {
        width: calc(622px + 860px);
        height: 746px;
        display: flex;
    }

    .left {
        width: 622px;
    }

    .right {
        width: 860px;
        height: 500px;

        .aside__flower {
            display: block;
            height: 746px;
            width: 860px;
            // problem with %
        }
    }

    .logo {
        margin: 0;

        &__img {
            margin-top: 25px;
            width: 63px;
            height: 85px;
        }

        &__h1 {
            margin-top: 47px;
            font-size: 27px;
            height: 60px;
        }
    }

    .header {
        margin-bottom: 8px;

        &__welcome-back {
            font-size: 64px;
            line-height: 79px;
        }
    }

    .main-interface {
        &__button-log-in-with-google {

            &__text {
                font-size: 24px;
                line-height: 30px;
            }
        }

        &__option {
            font-size: 14px;

        }

        &__container {
            margin-top: 25px;
        }

        &__email-label {
            margin-top: 10px;
        }

        &__password-label {
            margin-top: 11px;
        }

        &__email-input,
        &__password-input {
            width: 416px;
            height: 71px;
            padding-left: 20px;
        }

        &__email-input[placeholder],
        &__password-input[placeholder] {}

        &__email-input[placeholder]:focus,
        &__password-input[placeholder]:focus {}

        &__checkbox {
            width: 18px;
            height: 19px;
            margin-bottom: 13px;
            margin-top: 18px;
            margin-right: 2px;
        }

        &__keep-logged-in {
            width: 236px;
            height: 17px;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 14px;
            margin-top: 19px;
            margin-right: 6px;
        }

        &__forgot-password {
            text-decoration: none;
            line-height: 17px;
            font-size: 14px;
            margin-top: 18px;
        }

        &__button-log-in {
            margin-bottom: 18px;

            &__text {
                font-size: 24px;
                line-height: 30px;
                color: #FFF;
            }
        }

        &__sign-up {
            font-size: 14px;
            line-height: 17px;
            color: $fontColor;

            &__highlighted {
                color: red;
                text-decoration: none;
            }
        }
    }

    .label {
        font-size: 24px;
    }

    .button {
        width: 416px;
        height: 71px;
    }

    .vector {
        width: 127px;

        &--left {
            margin-right: 6px;
        }

        &--right {
            margin-left: 6px;
        }

        &--long {
            width: 410px;
            margin-bottom: 17px;
        }
    }
}